@import "../../App.scss";
.hero {
  overflow: hidden;
  height: calc(100vh - 100px);
  background: linear-gradient(135deg, #0d0d0d, #1a1a1a, #2e2e2e);
  position: relative;
}
.wrapper {
  max-width: 1366px;
  height: 100%;
  margin: auto;

  .textContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    @include mobile {
      height: 50%;
      width: 100%;
      margin-top: -120px;
      gap: 20px;
      text-align: center;
      align-items: center;
    }
    @include desktop {
      height: 100%;
      width: 100%;
      gap: 40px;
      text-align: start;
    }
  }
  h2 {
    color: aqua;
    font-size: 30px;
    letter-spacing: 8px;
  }
  h1 {
    font-size: 48px;

    @include mobile {
      font-size: 30px;
    }
  }
  .buttons {
    button {
      position: relative;
      padding: 20px;
      border: 1px solid white;
      border-radius: 10px;
      background-color: transparent;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-right: 20px;
      z-index: 1;
    }
    button:hover {
      background: #cfcfcf4b;
    }
  }
  img {
    width: 50px;
    height: auto !important;
    filter: invert(100%);
  }
  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #0000001f;
    width: 100%;
    font-weight: bold;
    z-index: 0;
  }
}
.imageContainer {
  height: 135%;
  width: 45%;
  object-fit: contain;
  position: absolute;
  top: 0;
  right: 0;
  @include mobile {
    height: 80%;
    width: 100%;
    object-fit: contain;
    top: unset;
    bottom: 0;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    @include mobile {
      height: 160%;
      width: 100%;
      object-fit: cover;
    }
  }
}
